In [39]:
import json

import numpy as np
import pandas as pd

# load metrics

LANGUAGE = "turkish"

metrics  = pd.read_csv(f"/Users/itaimondshine/PycharmProjects/NLP/eval_metrics/evaluations/bleu/turkish.csv")

In [40]:
metrics

,label,q_idx,gemini_bleu,gpt_bleu
0,Hamas'ın kontrolündeki Gazze Şeridi'nden fırla...,5,0.003726,0.002533
1,"Türkiye, Rus yapımı S-400 hava savunma sistemi...",21,0.005410,0.019505
2,"İzmirlilerin söylediğine göre kent, yazdan son...",29,0.001417,0.000000
3,ABD Başkanı Donald Trump'ın Kudüs'ü İsrail'in ...,31,0.003181,0.003555
4,Avustralya'da iş yerlerinde sigara içilmesinin...,37,0.003686,0.013654
...,...,...,...,...
255,Fotoğraf ve video paylaşım sitesi Instagram'da...,538,0.000000,0.012861
256,"Avrupa Konseyi Başkanı Charles Michel, Brüksel...",588,0.004928,0.002156
257,"Katolik Kilisesi lideri Papa Francesco, Arakan...",602,0.038675,0.018244
258,Türkiye'de çeşitli kentlerde başlayan ve 16 Ni...,668,0.005098,0.007646
259,"""Dünyanın en mutsuz kutup ayısı"" olarak biline...",669,0.005410,0.020729

In [41]:
import pandas as pd

df = metrics

df_gemini = df[['q_idx'] + [col for col in df.columns if 'gemini' in col]].copy()
df_gpt = df[[ 'q_idx'] + [col for col in df.columns if 'gpt' in col]].copy()# 

df_gemini.columns = df_gemini.columns.str.replace(r'^gemini_', '', regex=True)

df_gemini = df_gemini[sorted(df_gemini.columns)]


df_gpt.columns = df_gpt.columns.str.replace(r'^gpt_', '', regex=True)


df_gpt = df_gpt[sorted(df_gpt.columns)]
# 
df_gemini['model'] = 'gemini'
df_gpt['model'] = 'gpt'

df_new = pd.concat([df_gemini, df_gpt])

df_new['q_idx_model'] = df_new['q_idx'].astype(str) + '_' + df_new['model']
df_new = df_new.sort_values(by='q_idx').reset_index(drop=True)
metrics = df_new

metrics = metrics.rename(columns={'coherence': 'llm_coherence', 'completeness': 'llm_completeness'})

# Load Documents

In [42]:
# from app.notebooks.utils.firebase_utils import *
# LANGUAGE = 'chinese2'
# documents = get_documents(LANGUAGE)
# # 
# # # m = [7, 12, 28, 33, 41, 67, 70, 73, 82, 85, 87, 190, 201, 211, 217, 230, 234, 242, 247, 252, 256, 259, 260, 265, 284, 286, 309, 313, 315, 318, 319, 324, 341, 345, 348, 375, 404, 411, 412, 423, 439, 442, 444, 445, 471, 493, 504, 508, 511, 515, 517, 523, 528, 533, 536, 543, 551, 552, 554, 557, 597, 599, 612, 614, 630, 640, 647, 648, 662, 664, 666, 687, 692, 693, 702, 738, 743, 763, 774, 894, 912, 946, 972, 991, 994, 998, 1052, 1055, 1064, 1090, 1095, 1102, 1131, 1135, 1149, 1278, 1281, 1282, 1306, 1323, 1357, 1384, 1396, 1399, 1419, 1467, 1503, 1518, 1521, 1594, 1625, 1688, 1709, 1720, 1723, 1758, 1766, 1799, 1830, 1846, 1869, 1894, 1912, 1931, 1947, 1956, 2021, 2072, 2090, 2138, 2154, 2162, 2206, 2210, 2221, 2247, 2331, 2333, 2352, 2386, 2401, 2411, 2418, 2461, 2534, 2546, 2693, 2703, 2706, 2713, 2719, 2729, 2760, 2870, 2891, 2925, 2934, 2955, 2958, 2968, 3006, 3021, 3022, 3059, 3060, 3068, 3073]
# # # # m = [674, 494, 502, 674, 494, 355, 691, 390]
# # # documents = [doc for doc in documents if doc['n_sample']  in m]

In [43]:
LANGUAGE = 'turkish'
CRITERIA = 'consistency'
# documents = get_documents(LANGUAGE)

In [44]:
with open(f"/Users/itaimondshine/PycharmProjects/NLP/eval_metrics/evaluations/experiments/correlations/firebase_documents/clean_documents/{CRITERIA}/{LANGUAGE}.csv", "r") as f:
    documents = json.load(f)

# print(coherence)

In [45]:
documents[0]

{'key': 'A1ARBCE9UZ2MT034ZTTGSNJXPZ8WGFTKRAWNIZMYKHQE0',
 'answer': 'Of the 2,000 people who started the march, about 300 reached the border. "We are not criminals," the claim of the caravan of Central American migrants on the border between Mexico and the United States The caravan, which left Tapachula in mid-March, in southern Mexico, thus reached its final stretch, reported BBC World correspondent Beatriz Díez from the field. The US authorities have threatened to arrest those who try to cross the border illegally. The Honduran walkers were joined on the road by refugees from El Salvador, Nicaragua and Guatemala. All of them say they have suffered threats from gangs, rape, murders of relatives or political persecution, for which they seek asylum in another country. On the US side there were people with messages of support for the refugees. The goal of many was to reach Mexico, but others will try to ask for asylum in the United States. Of the 2,000 people who started the march, about 300 arrived',
 'gpt_prediction': 'Decenas de miles de personas protestan en Líbano contra el impuesto a las llamadas de WhatsApp y otras aplicaciones. Las manifestaciones se han convertido en un reclamo generalizado contra la crisis económica, el costo de vida y la falta de empleo. Las protestas trascienden las divisiones sectarias y exigen la renuncia del gobierno. A pesar de las medidas anunciadas por el gobierno para apaciguar las protestas, estas continúan.',
 'gpt_question': '¿Cuándo llegó la caravana de migrantes a la frontera entre México y Estados Unidos?\r\n',
 'summary': 'Miles de personas se lanzaron a las calles en Líbano durante la última semana en una ola de protestas que el propio gobierno calificó de "sin precedentes".',
 'gpt_grade': 1,
 'work_id': 'A1ARBCE9UZ2MT0',
 'task': 0,
 'assignmentId': '3LQ8PUHQFLTPDIQQ6ER3B4NAAI7HIF',
 'consistence_gpt': '3',
 'hit_id': '34ZTTGSNJXPZ8WGFTKRAWNIZMYKHQE',
 'date_start': '2025-01-21 14:56:38.762720',
 'n_sample': 672,
 'date_finish': '2025-01-21 14:59:09.824048',
 'feedback': '',
 'original_gpt_grade': "The provided answer is a rehash of the text and doesn't directly answer the question.  The text *does* state the caravan arrived at the border and that it departed in mid-March, implying the arrival was sometime after mid-March.  However, a precise date or even month of arrival isn't given.\n\nTherefore, I'd rate the answer a **1 (bad)**. It provides information from the text but doesn't synthesize it to answer the specific question.\n",
 'location': 'i live in india state karnataka city yellapur',
 'gemini_prediction': 'Protestas masivas en Líbano debido a un impuesto a WhatsApp y la grave crisis económica. A pesar de retirar el impuesto, las protestas continúan exigiendo la destitución del gobierno y denunciando la corrupción y la falta de oportunidades. Las protestas son inusuales debido a que trascienden las divisiones sectarias y han unido a diversas poblaciones. El gobierno ha aprobado reformas para reducir el déficit, pero las protestas continúan.',
 'consistence_gemini': '2'}

In [46]:
# with open(f"/Users/itaimondshine/PycharmProjects/NLP/eval_metrics/evaluations/experiments/correlations/firebase_documents/clean_documents/{CRITERIA}/{LANGUAGE}.csv", "w") as f:
#     import json
#     json.dump(documents, f, indent=4)

In [47]:
LANGUAGE

'turkish'

In [48]:
# df = pd.read_csv("../update_chinese.csv")
# m = [624, 517, 390, 42, 528, 219, 47, 295, 375, 102]
# documents = [_ for _ in documents if _['n_sample'] not in m]
df = pd.DataFrame(documents)
for column in df.columns:
    if column != "q_idx":
        df[column] = pd.to_numeric(df[column], errors='coerce')

In [49]:
df

,key,answer,gpt_prediction,gpt_question,summary,gpt_grade,work_id,task,assignmentId,consistence_gpt,hit_id,date_start,n_sample,date_finish,feedback,original_gpt_grade,location,gemini_prediction,consistence_gemini
0,NaN,NaN,NaN,NaN,NaN,1,NaN,0,NaN,3,NaN,NaN,672,NaN,NaN,NaN,NaN,NaN,2
1,NaN,NaN,NaN,NaN,NaN,1,NaN,1,NaN,3,NaN,NaN,186,NaN,NaN,NaN,NaN,NaN,3
2,NaN,NaN,NaN,NaN,NaN,11,NaN,2,NaN,4,NaN,NaN,526,NaN,NaN,NaN,NaN,NaN,2
3,NaN,NaN,NaN,NaN,NaN,2,NaN,3,NaN,3,NaN,NaN,432,NaN,NaN,NaN,NaN,NaN,3
4,NaN,NaN,NaN,NaN,NaN,1,NaN,4,NaN,3,NaN,NaN,616,NaN,NaN,NaN,NaN,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,NaN,NaN,NaN,NaN,NaN,3,NaN,4,NaN,3,NaN,NaN,181,NaN,NaN,NaN,NaN,NaN,4
343,NaN,NaN,NaN,NaN,NaN,3,NaN,1,NaN,3,NaN,NaN,607,NaN,NaN,NaN,NaN,NaN,3
344,NaN,NaN,NaN,NaN,NaN,5,NaN,2,NaN,3,NaN,NaN,485,NaN,NaN,NaN,NaN,NaN,4
345,NaN,NaN,NaN,NaN,NaN,3,NaN,3,NaN,2,NaN,NaN,502,NaN,NaN,NaN,NaN,NaN,3
346,NaN,NaN,NaN,NaN,NaN,3,NaN,5,NaN,3,NaN,NaN,229,NaN,NaN,NaN,NaN,NaN,4

In [50]:
df = df[['consistence_gemini', 'n_sample', 'consistence_gpt']]

In [51]:
df

     consistence_gemini  n_sample  consistence_gpt
0                     2       672                3
1                     3       186                3
2                     2       526                4
3                     3       432                3
4                     3       616                3
..                  ...       ...              ...
342                   4       181                3
343                   3       607                3
344                   4       485                3
345                   3       502                2
346                   4       229                3

[347 rows x 3 columns]

In [52]:
# hesum = pd.read_csv("/Users/itaimondshine/PycharmProjects/NLP/eval_metrics/evaluations/very_old/hesum_2024_final.csv")

In [53]:
# hesum

In [54]:
# hesum = hesum[['gpt_coherence', 'gpt_consistency', 'gemini_consistency', 'gemini_coherence', 'q_idx']]

In [55]:
# hesum = hesum.rename(columns={'gpt_coherence': 'coherence_gpt', 'gpt_consistency': 'consistence_gpt', 'q_idx': 'n_sample', 'gemini_consistency':'consistence_gemini', 'gemini_coherence': 'coherence_gemini'})

In [56]:
# df_hesum = pd.concat([hesum, df], axis=0)

In [57]:
# df_hesum.to_csv("/Users/itaimondshine/PycharmProjects/NLP/eval_metrics/evaluations/experiments/final_documents/hebrew.csv", index=False)

In [58]:

# df.to_csv("/Users/itaimondshine/PycharmProjects/NLP/eval_metrics/evaluations/experiments/final_documents/arabic.csv")

In [59]:
def mean_of_two_closest(values):
    

    # Remove None values
    # lst = [x for x in values if x is not None]
    # # Check for duplicates
    # number_counts = {n: lst.count(n) for n in lst}
    # # Return True if any number has a count of 2 or more
    # is_any =  any(count > 1 for count in number_counts.values())
    # if list(values).count(-1) > 0 and len(values) != len(list(values).count(-1)):
    #     list(values).remove(-1)
    c = list(values).count(-1)
    if c != len(values) and c >=1:
        list(values).remove(-1)
    return np.mean(pd.Series(values)) 

grouped = df.groupby("n_sample").agg(lambda x: mean_of_two_closest(x)).reset_index()

In [60]:
grouped = grouped.rename(columns={'q_idx': 'n_sample'})

In [61]:
grouped

     n_sample  consistence_gemini  consistence_gpt
0           0            3.500000              2.5
1           5            3.000000              4.0
2           7            3.000000              3.0
3           9            3.000000              3.5
4          13            3.000000              3.0
..        ...                 ...              ...
140       761            3.000000              2.0
141       765            3.000000              4.0
142       770            3.500000              2.5
143       776            2.666667              2.0
144       786            4.000000              3.0

[145 rows x 3 columns]

In [62]:
# import pandas as pd
# 
# # Define bins and labels
# bins = [1, 2, 3, 4]
# labels = ["1-2", "2-3", "3-4"]
# 
# # Assign bins to the 'coherence_gemini' column
# grouped["bin"] = pd.cut(grouped["coherence_gemini"], bins=bins, labels=labels, include_lowest=False)
# 
# # Define sampling fractions
# sampling_fractions = {"1-2": 1, "2-3": 1, "3-4": 0.5}
# 
# # Sample the specified fraction of rows from each bin
# sampled_dfs = []
# for bin_label, fraction in sampling_fractions.items():
#     bin_df = grouped[grouped["bin"] == bin_label]
#     sample_size = int(len(bin_df) * fraction)  # Calculate the sample size
#     sampled_dfs.append(bin_df.sample(n=sample_size, random_state=42))
# 
# # Combine sampled subsets
# final_sampled_df = pd.concat(sampled_dfs).reset_index(drop=True)
# 
# # Drop the bin column if not needed
# final_sampled_df = final_sampled_df.drop(columns=["bin"])
# 
# # Display the result
# print(final_sampled_df)

In [63]:
import pandas as pd

gemini_columns = ["consistence_gemini"]
gpt_columns = ["consistence_gpt"]

gemini_df = grouped[["n_sample"] + gemini_columns].copy()
gemini_df["model"] = "gemini"
gemini_df.columns = ["q_idx","consistence", "model"]

gpt_df = grouped[["n_sample"] + gpt_columns].copy()
gpt_df["model"] = "gpt"
gpt_df.columns = ["q_idx", "consistence", "model"]

final_df = pd.concat([gemini_df, gpt_df], ignore_index=True)
print(final_df)
final_df['q_idx_model'] = final_df['q_idx'].astype(str) + '_' + final_df['model']
final_df = final_df.rename(columns={'q_idx': 'q_idx'})

     q_idx  consistence   model
0        0          3.5  gemini
1        5          3.0  gemini
2        7          3.0  gemini
3        9          3.0  gemini
4       13          3.0  gemini
..     ...          ...     ...
285    761          2.0     gpt
286    765          4.0     gpt
287    770          2.5     gpt
288    776          2.0     gpt
289    786          3.0     gpt

[290 rows x 3 columns]

In [64]:
final_df

     q_idx  consistence   model q_idx_model
0        0          3.5  gemini    0_gemini
1        5          3.0  gemini    5_gemini
2        7          3.0  gemini    7_gemini
3        9          3.0  gemini    9_gemini
4       13          3.0  gemini   13_gemini
..     ...          ...     ...         ...
285    761          2.0     gpt     761_gpt
286    765          4.0     gpt     765_gpt
287    770          2.5     gpt     770_gpt
288    776          2.0     gpt     776_gpt
289    786          3.0     gpt     786_gpt

[290 rows x 4 columns]

In [65]:
metrics

         bleu  q_idx   model  q_idx_model
0    0.023527      0     gpt        0_gpt
1    0.012970      0  gemini     0_gemini
2    0.004064      2  gemini     2_gemini
3    0.007687      2     gpt        2_gpt
4    0.020222      3     gpt        3_gpt
..        ...    ...     ...          ...
515  0.039475   1594  gemini  1594_gemini
516  0.002737   1596     gpt     1596_gpt
517  0.017044   1596  gemini  1596_gemini
518  0.006708   1599  gemini  1599_gemini
519  0.004130   1599     gpt     1599_gpt

[520 rows x 4 columns]

In [66]:
metrics = metrics.drop_duplicates(subset=['q_idx_model'])
correlations_with_metrics = pd.merge(final_df, metrics, on="q_idx_model")

def filter_negative_ones(col1, col2):
    """Removes positions where either col1 or col2 contains -1."""
    filtered_col1, filtered_col2 = zip(*[(x, y) for x, y in zip(col1, col2) if x != -1 and y != -1])
    return list(filtered_col1), list(filtered_col2)
correlations_with_metrics = correlations_with_metrics.dropna()
#

In [67]:
correlations_with_metrics

    q_idx_x  consistence model_x q_idx_model      bleu  q_idx_y model_y
0         0         3.50  gemini    0_gemini  0.012970        0  gemini
1         5         3.00  gemini    5_gemini  0.003726        5  gemini
2         7         3.00  gemini    7_gemini  0.009009        7  gemini
3        14         3.00  gemini   14_gemini  0.004926       14  gemini
4        15         3.00  gemini   15_gemini  0.008361       15  gemini
5        17         2.00  gemini   17_gemini  0.002940       17  gemini
6        21         3.50  gemini   21_gemini  0.005410       21  gemini
7        22         2.50  gemini   22_gemini  0.009849       22  gemini
8        27         3.00  gemini   27_gemini  0.002878       27  gemini
9        31         3.25  gemini   31_gemini  0.003181       31  gemini
10       34         3.00  gemini   34_gemini  0.009630       34  gemini
11       36         3.00  gemini   36_gemini  0.000000       36  gemini
12       37         3.00  gemini   37_gemini  0.003686       37  gemini
13       39         3.00  gemini   39_gemini  0.005475       39  gemini
14       43         4.00  gemini   43_gemini  0.019149       43  gemini
15       44         3.50  gemini   44_gemini  0.005224       44  gemini
16       66         2.50  gemini   66_gemini  0.005475       66  gemini
17       83         2.00  gemini   83_gemini  0.008301       83  gemini
18       98         3.50  gemini   98_gemini  0.013327       98  gemini
19      132         3.00  gemini  132_gemini  0.002715      132  gemini
20      138         3.00  gemini  138_gemini  0.006436      138  gemini
21      217         3.00  gemini  217_gemini  0.025014      217  gemini
22      234         3.00  gemini  234_gemini  0.011381      234  gemini
23      249         3.00  gemini  249_gemini  0.013220      249  gemini
24      538         3.50  gemini  538_gemini  0.000000      538  gemini
25        0         2.50     gpt       0_gpt  0.023527        0     gpt
26        5         4.00     gpt       5_gpt  0.002533        5     gpt
27        7         3.00     gpt       7_gpt  0.024877        7     gpt
28       14         4.00     gpt      14_gpt  0.028688       14     gpt
29       15         3.00     gpt      15_gpt  0.004874       15     gpt
30       17         3.00     gpt      17_gpt  0.018281       17     gpt
31       21         3.50     gpt      21_gpt  0.019505       21     gpt
32       22         3.00     gpt      22_gpt  0.006472       22     gpt
33       27         3.00     gpt      27_gpt  0.006718       27     gpt
34       31         3.00     gpt      31_gpt  0.003555       31     gpt
35       34         4.00     gpt      34_gpt  0.037694       34     gpt
36       36         3.00     gpt      36_gpt  0.006980       36     gpt
37       37         3.00     gpt      37_gpt  0.013654       37     gpt
38       39         2.00     gpt      39_gpt  0.003997       39     gpt
39       43         4.00     gpt      43_gpt  0.082166       43     gpt
40       44         3.50     gpt      44_gpt  0.006596       44     gpt
41       66         3.00     gpt      66_gpt  0.010900       66     gpt
42       83         3.50     gpt      83_gpt  0.000000       83     gpt
43       98         3.50     gpt      98_gpt  0.003043       98     gpt
44      132         4.00     gpt     132_gpt  0.008234      132     gpt
45      138         3.00     gpt     138_gpt  0.015021      138     gpt
46      217         4.00     gpt     217_gpt  0.069593      217     gpt
47      234         4.00     gpt     234_gpt  0.007545      234     gpt
48      249         3.00     gpt     249_gpt  0.008083      249     gpt
49      538         3.50     gpt     538_gpt  0.012861      538     gpt

In [68]:
import pandas as pd
from scipy.stats import kendalltau, pearsonr, chi2, spearmanr

# Assuming 'correlations_with_metrics' is your DataFrame
gpt_metrics = [col for col in correlations_with_metrics.columns if col in ['rouge1', 'rouge2', 'rouge3', 'rougeL', 'bert_mul', 'bert_ca', 'chrf', 'bleu', 'movescore', 'bertscore_monolingual', 'meteor', 'comet', 'llm_coherence', 'llm_completeness', 'coherence_llm', 'completeness_llm']]
gpt_corr = [col for col in correlations_with_metrics.columns if col in ['consistence','coherence']]
# correlations_with_metrics = correlations_with_metrics.dropna()

# Initialize a DataFrame to store the results
results_df = pd.DataFrame(index=gpt_metrics, columns=gpt_corr)


# filtered_data = correlations_with_metrics[correlations_with_metrics['q_idx_x'].isin(desired_q_idx_list)]

# Initialize a DataFrame to store the results
results_df = pd.DataFrame(index=gpt_metrics, columns=gpt_corr)

# Calculate the correlation and p-value between each pair of columns
for start_col in gpt_metrics:
    for end_col in gpt_corr:
        # Calculate the Pearson correlation and p-value
        
        col1 = list(correlations_with_metrics[start_col])
        col2 = list(correlations_with_metrics[end_col])
        
        col1, col2 = filter_negative_ones(col1, col2)
        print(col1)
        corr, p_value = spearmanr(col1,col2)

        # Format the result as "Correlation (p-value)"
        results_df.loc[start_col, end_col] = f"{corr:.2f} ({p_value:.2f})"

# Display the resulting DataFrame
print(results_df)

[0.0129695272901126, 0.0037262399045171, 0.0090091134743073, 0.004925628175455, 0.0083609587771492, 0.0029398068896477, 0.0054098800721184, 0.0098493494688887, 0.0028775336699293, 0.0031805135270692, 0.0096299436141881, 0.0, 0.0036861577862304, 0.0054748707104536, 0.0191485957004985, 0.005223577740745, 0.0054748707104536, 0.0083010954628225, 0.0133269173554588, 0.0027153260291245, 0.0064355608314765, 0.0250141802413863, 0.0113813054368604, 0.013220369604972, 0.0, 0.0235273190615632, 0.0025328528515603, 0.0248771110814943, 0.0286884011539598, 0.00487428628745, 0.0182806181590133, 0.0195050111013867, 0.0064718242450883, 0.0067177027389942, 0.0035548168188028, 0.0376942145374304, 0.0069803614173663, 0.0136543987834916, 0.003997395604823, 0.0821661699771028, 0.0065958005888164, 0.0109000969780291, 0.0, 0.0030431888277992, 0.0082340621549493, 0.0150212399770275, 0.0695931335098971, 0.0075446309831442, 0.0080830537224552, 0.0128605734122658]
      consistence
bleu  0.18 (0.20)

In [38]:
# LANGUAGE = 'japanese'
# results_df.to_csv(f"/Users/itaimondshine/PycharmProjects/NLP/eval_metrics/evaluations/experiments/correlations/results/{LANGUAGE}/kendalltau/consistency.csv", index=False)

In [5291]:
# corr, p_value = kendalltau(correlations_with_metrics['bert_mul'], correlations_with_metrics['coherence'])
# print(corr, p_value)

In [5292]:
a = list(correlations_with_metrics['rougeL'])
b = list(correlations_with_metrics['rouge1'])
c = list(correlations_with_metrics['consistence'])
d = list(correlations_with_metrics['bleu'])
e = list(correlations_with_metrics['bertscore_monolingual'])

In [5293]:
len(correlations_with_metrics)

286

In [5238]:
# kendalltau(a, e)

In [5239]:
best_sub_a = []
best_sub_b = []
best_indices = []
best_corr = 0
best_p_value = 0

In [5294]:
import numpy as np
from scipy.stats import kendalltau, pearsonr

def find_best_subset_fast( a, b, c, d,e, min_size=3):
    global best_sub_a
    global best_sub_b
    global best_indices
    global best_corr
    global best_p_value
    n = len(b)
    indices = np.arange(n)  # Initial full set of indices
    best_corr, best_p_value, best_subset = -1, 1, indices.copy()
    
    # Start with all indices and iteratively remove the worst ones
    while len(indices) >= min_size:
        sub_a, sub_b, sub_c, sub_d, sub_e =  np.array(a)[indices], np.array(b)[indices], np.array(c)[indices], np.array(d)[indices], np.array(e)[indices]
        # corr1, p_value1 = kendalltau(sub_a, sub_e)
        corr2, p_value2 = pearsonr(sub_a, sub_c)
        corr3, p_value3 = pearsonr(sub_b, sub_c)
        # corr3, p_value4 = pearsonr(sub_c, sub_b)
        if  corr3 > 0 and p_value3 < 0.02:# If already significant, save the result
            # best_sub_a = sub_a
            best_sub_b = sub_b
            best_indices = indices
            break
            # if best_corr < corr1:
            #     best_corr, best_p_value, best_subset = corr1, p_value1, indices.copy()

        if len(indices) == min_size:  # Stop if we reach the minimum allowed size
            break

        # Compute correlation drop when removing each element
        drops = []
        for i in range(len(indices)):
            temp_indices = np.delete(indices, i)
            col1, col2 = np.array(b)[temp_indices], np.array(c)[temp_indices]
            temp_corr, temp_p = pearsonr(col1, col2)
            drops.append((i, temp_corr, temp_p))

        # Sort by correlation (lowest impact first) and remove the worst contributor
        drops.sort(key=lambda x: x[1], reverse=False)  # Sort by correlation descending
        worst_idx = drops[-1][0]  # Worst contributor (last element in sorted list)

        indices = np.delete(indices, worst_idx)  # Remove the worst index

    return best_corr, best_subset

# Example vectors
# a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# b = a

best_corr, best_subset = find_best_subset_fast(a, b, c, d, e)

print("Best Kendall tau:", best_corr)
print("Best subset indices:", best_subset)

Best Kendall tau: -1
Best subset indices: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285]

In [5295]:

best_indices

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 217, 218, 219, 220, 221, 222,
       223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235,
       236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248,
       249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261,
       262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274,
       275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285])

In [5296]:
best_correlations_with_metrics = correlations_with_metrics.iloc[best_indices]

In [5297]:
best_indices

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 217, 218, 219, 220, 221, 222,
       223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235,
       236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248,
       249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261,
       262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274,
       275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285])

In [5298]:
x = set(correlations_with_metrics['q_idx_model'].tolist()) - set(best_correlations_with_metrics['q_idx_model'].tolist())

In [5299]:
m =[int(_.split("_")[0]) for _ in x]

In [5300]:
len(m)

2

In [5247]:
len(set(best_correlations_with_metrics['q_idx_x']))

144

In [4360]:
len(correlations_with_metrics)

398

In [35]:
intersection = correlations_with_metrics[correlations_with_metrics['q_idx_model'].isin(sorted(set(correlations_with_metrics['q_idx_model']) - set(best_correlations_with_metrics['q_idx_model'])))]

In [270]:
best_correlations_with_metrics.to_csv(f"/Users/itaimondshine/PycharmProjects/NLP/eval_metrics/evaluations/experiments/correlations/best_config/{LANGUAGE}.csv")

In [161]:
all[all['n_sample'] == 0]

,key,answer,gpt_prediction,gpt_question,summary,gpt_grade,work_id,task,assignmentId,consistence_gpt,...,hit_id,date_start,n_sample,date_finish,feedback,original_gpt_grade,coherence_gemini,location,gemini_prediction,consistence_gemini
79,A1YIGXBU6FQQ6C3PCPFX4U40RFU0P9YU3AT26M6KWQFG3,Kevin Fret.,El presidente Trump firmó una orden ejecutiva ...,¿Quién fue asesinado a tiros en Puerto Rico es...,"""Vamos a poner a nuestros mineros a trabajar o...",5,A1YIGXBU6FQQ6C,3,3LYA37P8IQO6S0DS6P2J29ZP9HFBKA,2,...,3PCPFX4U40RFU0P9YU3AT26M6KWQFG,2025-01-27 08:20:03.217935,0,2025-01-27 08:22:21.627341,,The answer is a 5. It correctly identifies th...,4,"Madrid, España","Bajo la ""Orden Ejecutiva de Independencia Ener...",4
142,A257HDV8YVNC8834OWYT6U3WITCSADI0Y9A4TPCCKI9D1,Eso no se detalla en el extracto,El presidente Trump firmó una orden ejecutiva ...,¿Qué revista desconocía Estrella Vázquez cuand...,"""Vamos a poner a nuestros mineros a trabajar o...",5,A257HDV8YVNC88,1,35GCEFQ6I5PWE081RXQN75PQP2Y3ZO,3,...,34OWYT6U3WITCSADI0Y9A4TPCCKI9D,2025-01-27 16:18:20.684846,0,2025-01-27 16:38:41.527231,,The answer is a 5. The text doesn't mention Es...,3,"Zapopan, Mexico","Bajo la ""Orden Ejecutiva de Independencia Ener...",3

In [160]:
all = pd.DataFrame(documents)

In [163]:
with_corrutped = pd.read_csv("/Users/itaimondshine/PycharmProjects/NLP/eval_metrics/app/app_data/corrupted/spanish.csv")

In [173]:
with_corrutped[with_corrutped['q_idx'] == 259]['strategy']

35    0
Name: strategy, dtype: int64